#header {
	width: 30%;
	font-size:20px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top:1px;
	-webkit-animation: animated-border 2s linear alternate infinite;
}

h1 {
	border: 10px ridge green;
	padding: 3px;
	font-family: Comic Sans MS;
	text-align: center;
	-webkit-animation: color-change 2s infinite;
}

body {
	background: -webkit-radial-gradient(circle,  #c4fc3d, #15a451);
	padding: 10px;
	border: 5px dotted black;
	-webkit-animation: animated-border .3s linear alternate infinite;
}

a {
	text-decoration: none;
	color: crimson;
}

#fancy{
	font-family: Georgian;
	font-style: oblique;
	clear:left;
}
#pew {
	border: 5px dashed groove green;
	font-family: Comic Sans MS;
}

.poonka {
	font-family: Garamond;
	font-weight: bolder;
	font-size:20px;
}

a:hover {
	font-family: Comic-Sans;
	font-weight: boldest;
	-webkit-animation: sploosh 10s linear alternate;
}

#billy-lynches {
	width: 400px;
	height: 212px;
	border: 2px solid black;
	display: inline-block;
	overflow: hidden;
}

#billy-lynches img {
	width: 47.5%;
	height: 100%;
	margin:0;
	padding:0;
	border:0;
	float:left;
	-webkit-transition: width 2s height 2s -webkit-transform 2s;
	transition: width 2s height 2s transform 2s ;
}

#billy-lynches img:not(:last-child) {
	margin-right: 5%;
}

#billy-lynches:hover {
	width: 500px;
	height: 267px;
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}


ul { 
	list-style-image: url("http://img1.wikia.nocookie.net/__cb20101231203225/mugen/images/4/41/Pocket_Mario.gif");
}

p:first-child {
	font-size: 30px;
	font-style: cursive;
	font-family: Impact;
}

#ooh {
	font-family: Impact;
	font-size: 20px;
	font-style: bolder;
}

img {
	width: 50%;
	height:50;
}

@-webkit-keyframes sploosh {
	from {
		font-size:20px;
		margin-left:0%;
		margin-top:0%;
}

50% {
	font-size:50px;
	margin-left:80%;
	margin-top: 40%;
}

to {
	font-size:140px;
	margin-top:800%;
}
}

@-webkit-keyframes animated-border {
	from {
	}
	
	to {
		border: 15px groove crimson;
	}
}

@-webkit-keyframes color-change {
	from {
		background-color: white;
		color: black;
}
20% {
	background-color: aliceblue;
	color: salmon;
}
50% {
	background-color: salmon;
	color: navy;
}
60% {
	color: lime;
}
70% {
	background-color: lime;
	color: magenta;
}
85% {
	background-color: maroon;
	color: aliceblue;
}
100% {
	background-color: black;
	color: white;
}

@-webkit-keyframes animated-border-color {
	from {
		border-color: black;
	}

	to {
		border-color: aliceblue;
	}
}
