#header {
	width: 24%;
	border: 10px dashed pink;
}

h1 {
	border: 10px ridge green;
	font-family: Comic Sans;
	text-align: center;
}

#pew {
	border: 5px dashed groove green;
	font-family: Papyrus;
}

.poonka {
	font-family: Garamond;
	font-weight: bolder;
	font-size:20px;
}

a:hover {
	font-family: Comic-Sans;
	font-weight: boldest;
	background-color: #ccc;
	-webkit-animation: sploosh 40s linear;
}

a:active {

}

#billy-lynch {
	width:50%;
	height:50%;
}
p:first-child {
	font-size: 30px;
}
img {
	width: 50%;
	height:50;
}

@-webkit-keyframes sploosh {
	from {
		font-size:20px;
		margin-left:0%;
	}
	
	to {
		font-size:50px;
		margin-left:1000%;
	}
}
