<!DOCTYPE HTML>
<html>
	<head>
		<title>Pat Devilin</title>
		<link rel="stylesheet" href="static/style.css">
	</head>

	<body>
		<div id ="header">
			<h1 id="pew">I am a header.</h1>
		</div>
		<div class="poonka">
			<a href="https://www.facebook.com/blynchIII?fref=ts">My name is Billy Lynch.</a>
		</div>
		<div id="billy-lynches">
			<div class="billy-lynch">
				<img src="http://wlyn.ch/img/wlynch.jpg" />
			</div>
			<div class="billy-lynch">
				<img src="https://avatars2.githubusercontent.com/u/1844673?v=2&s=460" />
			</div>
		</div>
		<p id="fancy">I am a fancy paragraph</p>
		<br>
		<p id="ooh">Ooooohhhh killem.</p>
		<ul id="list">
			<li>Eeenie</li>
			<li>Meenie</li>
			<li>Meinie</li>
			<li>Moe</li>
		</ul>
		<div class="right-div">
			<select name="List">
				<option value="eenie">Eeenie</option>
				<option value="meenie">Meenie</option>
				<option value="meinie">Meinie</option>
				<option value="moe">Moe</option>
			</select>
		</div>

	</body>

</html>
